#root {
  width: 100%;
  box-sizing: border-box;
  display: table;
  justify-content: center;
  background-color: #15202B;
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  #root {
    display: table;
  }
}
